@media (max-width: 1920px) {
  .ret-text img {
    display: none;
  }
  .knopka {
    display: none;
  }
}
@media (max-width: 1280px) {
  #header {
    width: 100%;
  }
  .ret-text img {
    display: none;
  }

  .small {
    img {
      max-width: 10px;
      width: 90%;
      height: 74%;
    }
  }
  #get {
    .get {
      img {
        max-width: 375px;
        width: 100%;
      }
    }
    .get {
      .ret-text {
        gap: 20px;
      }
    }
  }

  .knopka {
    display: none;
  }
  .nft .box .wert {
    img {
      max-width: 10px;
      width: 90%;
    }
  }
  .categorie {
    .box {
      background: #3b3b3b;
      max-width: 207px;
      width: 100%;
      border-radius: 30px;
      height: 259px;
      position: relative;
    }
  }
  .categorie {
    .box {
      .position-box {
        .icon-img {
          position: absolute;
          top: 50px;
          left: 40px;
          font-size: 125px;
        }
      }
    }
  }
}
@media (max-width: 1020px) {
  .categorie {
    .box {
      background: #3b3b3b;
      max-width: 167px;
      width: 100%;
      border-radius: 30px;
      height: 219px;
      position: relative;
    }
  }
  .categorie {
    & .box {
      & .position-box {
        .icon-img {
          font-size: 60px;
        }
      }
    }
  }
  .magic {
    .magic-img {
      img {
        position: absolute;
        left: 493px;
        top: 80px;
      }
    }
  }
  /* .categorie {
    .box {
      .position-box {
        .icon-img {
          top: 50px;
          left: 108px;
          font-size: 90px;
        }
      }
    }
  } */
  .creator .box {
    button {
      margin-bottom: 161px;
      margin-right: 148px;
    }
  }
}
@media (max-width: 841px) {
  .header nav {
    display: none;
  }
  .burger {
    display: flex;
    background: none;
  }
  #get {
    .get {
      img {
        max-width: 290px;
        width: 100%;
      }

      .ret-text {
        gap: 20px;
        .img {
          display: none;
        }
        h3 {
          width: 75%;
        }
      }
      .ret-text {
        .get-long {
          display: flex;
          gap: 55px;
        }
      }
    }
  }
  .trend .box:nth-child(3) {
    display: none;
  }
  .creator .box:nth-child(7) {
    display: none;
  }
  .creator .box:nth-child(8) {
    display: none;
  }
  .creator .box:nth-child(9) {
    display: none;
  }
  .creator .box:nth-child(10) {
    display: none;
  }
  .creator .box:nth-child(11) {
    display: none;
  }
  .creator .box:nth-child(12) {
    display: none;
  }
  .creator .box .box-text {
    display: flex;
    flex-direction: row;
  }
  .creator .box {
    width: 249px;
    height: 115px;
    padding-left: 15px;
    button {
      margin-bottom: 49px;
      margin-right: 228px;
    }
    img {
      width: 30%;
    }
  }
  .knopka {
    display: none;
  }
  .categorie {
    .box {
      max-width: 121px;
      width: 100%;
      height: 175px;
      .position-box {
        .icon-img {
          font-size: 75px;
          position: absolute;
          top: 30px;
          left: 25px;
        }
      }
    }
  }
  .nft .box:last-child {
    display: none;
  }
  .work-box {
    max-width: 340px;
    width: 100%;
    height: 364px;
    gap: 20px;
  }
  #work {
    padding-block: 25px;
  }
  .work-title {
    padding-bottom: 10px;
    line-height: 40px;
  }
  #join {
    padding-block: 50px;
  }
  .join {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    padding: 10px 50px;
    border-radius: 20px;
    opacity: 0px;
    background: #3b3b3b;
    gap: 20px;
    img {
      max-width: 200px;
      width: 100%;
      justify-content: center;
    }
    .creator .box {
      width: 249px;
      height: 112px;
      padding-left: 15px;
      background: #3b3b3b;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .box-text {
      img {
        width: 30%;
      }
    }
    .join-text {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h1 {
        width: 80%;
      }
      p {
        line-height: 25px;
      }
      .join-input {
        display: flex;
        flex-direction: column;
        gap: 15px;
        input {
          max-width: 199px;
          width: 100%;
          height: 45px;
          border-radius: 20px;
        }
        button {
          max-width: 199px;
          height: 45px;
        }
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 641px) {
  #get {
    padding-block: 30px;
  }
  .get img {
    display: none;
  }
  #get {
    .ret-text {
      gap: 40px;
      img {
        display: block;
        max-width: 664px;
        width: 100%;
      }
    }
  }
  .trend .box img {
    max-width: 1076px;
    width: 100%;
  }
  .trend .box {
    width: 100%;
  }
  .trend .box:nth-child(2) {
    display: none;
  }
  #header .container {
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }
  .container {
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }
  .get {
    .ret-text {
      button {
        max-width: 556px;
        width: 100%;
        height: 60px;
      }
    }
  }
  .get {
    .ret-text {
      .get-long {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .small {
    display: flex;
    justify-content: space-between;
  }
  #trend {
    padding-block: 45px;
  }
  .trend-title {
    line-height: 38px;
    padding-bottom: 31px;
  }
  .creator-btn {
    display: none;
  }
  .knopka {
    display: block;
    width: 580px;
    height: 65px;
  }
  .creator .box {
    width: 580px;
    height: 122px;
  }
  .creator {
    gap: 25px;
  }
  #creator {
    padding-block: 50px;
  }
  .creator-title {
    padding-bottom: 40px;
    .text {
      gap: 18px;
    }
  }
  #categorie {
    padding-block: 20px;
  }
  .nft {
    flex-direction: column;
    gap: 40px;
  }
  .nft .box:last-child {
    display: block;
  }
  .nft-btn {
    display: none;
  }
  .nft-button {
    display: block;
    align-items: center;
    justify-content: center;
  }
  .nft-button button {
    max-width: 707px;
    width: 100%;
    height: 50px;
    background: none;
    border: 2px solid#A259FF;
    ion-icon {
      color: #a259ff;
    }
  }
  .work {
    flex-direction: column;
    .work-box {
      flex-direction: row;
      max-width: 340px;
      width: 100%;
      height: 364px;
      gap: 20px;
      img {
        max-width: 180px;
        width: 100%;
      }
    }
  }
  #nft {
    padding: 100px 0;
  }
  .nft-title {
    padding-bottom: 25px;
  }

  .magic-bottom {
    /* flex-direction: column; */
    .magic-left {
      #foto {
        display: block;
      }
    }
  }
  .magic-bottom .img-2 {
    display: none;
  }

  .categorie {
    .box {
      max-width: 150px;
      width: 100%;
      height: 200px;
      .position-box {
        .icon-img {
          position: absolute;
          top: 30px;
          left: 25px;
          font-size: 75px;
        }
      }
    }
  }
  .join {
    display: flex;
    flex-direction: column;
    img {
      justify-content: flex-start;
    }
  }
  с .work {
    display: flex;
    flex-direction: column;
    .work-box {
      max-width: 340px;
      width: 100%;
      height: 364px;
      gap: 20px;
    }
  }
  .work-text {
    display: flex;
    flex-direction: column;
  }
}
