@media (max-width: 1700px) {
  .ret-text {
    img {
      display: none;
    }
  }
}

@media (max-width: 1280px) {
  .ret-text img {
    display: none;
  }
}
@media (max-width: 1024px) {
  .ret-text img {
    display: none;
  }
  .get {
    img {
      max-width: 470px;
      width: 100%;
    }
  }

  .small {
    img {
      max-width: 10px;
      width: 90%;
      height: 84%;
    }
  }
}
@media (max-width: 840px) {
  .header nav {
    display: none;
  }
  .burger {
    display: flex;
    background: none;
  }
  .get {
    img {
      max-width: 270px;
      width: 100%;
    }

    .ret-text {
      gap: 20px;
      .img {
        display: none;
      }
      h3 {
        width: 75%;
      }
    }
    .ret-text {
      .get-long {
        display: flex;
        gap: 55px;
      }
    }
  }
  .trend .box:nth-child(3) {
    display: none;
  }
  .creator .box:nth-child(7) {
    display: none;
  }
  .creator .box:nth-child(8) {
    display: none;
  }
  .creator .box:nth-child(9) {
    display: none;
  }
  .creator .box:nth-child(10) {
    display: none;
  }
  .creator .box:nth-child(11) {
    display: none;
  }
  .creator .box:nth-child(12) {
    display: none;
  }
  .creator .box .box-text {
    display: flex;
    flex-direction: row;
  }
  .creator .box {
    width: 294px;
    height: 122px;
    button {
      margin-bottom: 67px;
      margin-right: 218px;
    }
    .box-text {
      justify-content: center;
      img {
        width: 28%;
      }
    }
  }
}
@media (max-width: 600px) {
  #get {
    padding-block: 30px;
  }
  .get img {
    display: none;
  }
  .ret-text {
    gap: 40px;
    img {
      display: flex;
    }
  }

  .small {
    max-width: 528px;
    width: 577px;
  }
  .trend .box img {
    max-width: 1076px;
    width: 100%;
  }
  .trend .box {
    width: 100%;
  }
  .trend .box:nth-child(2) {
    display: none;
  }
  #header .container {
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }
  .container {
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }
  .get {
    img {
      max-width: 387px;
      width: 100%;
    }
  }
  .get {
    .ret-text {
      button {
        max-width: 380px;
        width: 100%;
        height: 60px;
      }
    }
  }
  .get {
    .ret-text {
      .get-long {
        display: flex;
        gap: 116px;
      }
    }
  }
  .small {
    width: 386px;
  }
  #trend {
    padding-block: 2px;
  }
}

@media (max-width: 430px) {
  .get {
    & .ret-text {
      .get-long {
        display: flex;
        gap: 99px;
      }
    }
  }
  .get {
    img {
      max-width: 343px;
      width: 100%;
    }
  }
  .get {
    & .ret-text {
      button {
        max-width: 342px;
        width: 100%;
        height: 60px;
      }
    }
  }
  .trend-title {
    line-height: 35px;
    padding-bottom: 21px;
  }
  .small {
    width: 342px;
  }
  #trend {
    padding-block: -2px;
  }
}
