@media (max-width: 1700px) {
  .ret-text {
    img {
      display: none;
    }
  }
}

@media (max-width: 1280px) {
  .ret-text img {
    display: none;
  }
}
@media (max-width: 1024px) {
  .ret-text img {
    display: none;
  }
  .get {
    img {
      max-width: 470px;
      width: 100%;
    }
  }

  .small {
    img {
      max-width: 10px;
      width: 90%;
      height: 84%;
    }
  }
}
@media (max-width: 840px) {
  .header nav {
    display: none;
  }
  .burger {
    display: flex;
    background: none;
  }
  .get {
    img {
      max-width: 270px;
      width: 100%;
    }
    .ret-text {
      gap: 10px;
      .img {
        display: none;
      }
    }
  }
  .trend .box:nth-child(3) {
    display: none;
  }
}
@media (max-width: 640px) {
  #get {
    padding-block: 30px;
  }
  .get img {
    display: none;
  }
  .ret-text {
    gap: 20px;
    img {
      display: flex;
    }
  }
  .get {
    img {
      max-width: 400px;
      width: 100%;
    }
  }
  .get {
    .ret-text {
      gap: 20px;
    }
  }
  .get {
    & .ret-text {
      .get-long {
        display: flex;
        gap: 126px;
      }
    }
  }
  .get {
    & .ret-text {
      button {
        max-width: 400px;
        width: 100%;
        height: 60px;
      }
    }
  }
  .trend .box:nth-child(2) {
    display: none;
  }
}
@media (max-width: 400px) {
  .get {
    img {
      max-width: 380px;
      width: 100%;
    }
  }
  .get {
    & .ret-text {
      button {
        max-width: 380px;
        width: 100%;
        height: 60px;
      }
    }
  }
  .get {
    & .ret-text {
      .get-long {
        display: flex;
        gap: 116px;
      }
    }
  }
}
