* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  font-family: Work Sans;
  outline: 1px solid orangered;
  list-style: none;
}
html {
  background: #2b2b2b;
}
h1 {
  width: 100%;
  font-size: clamp(22px, 1.042rem + 1.67vw, 38px);
  color: #fff;
  font-weight: 600;
}
h2 {
  width: 100%;
  font-size: clamp(14px, 0.708rem + 0.83vw, 22px);
  color: #fff;
  font-weight: 600;
}
h3 {
  width: 80%;
  font-size: clamp(10px, 0.708rem + 0.83vw, 22px);
  color: #fff;
  font-weight: 400;
}
p {
  font-size: clamp(12px, 0.667rem + 0.42vw, 16px);
  color: #fff;
  font-weight: 400;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a259ff;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: clamp(0.75rem, 0.667rem + 0.42vw, 1rem);
  ion-icon {
    font-size: 20px;
    margin-right: 10px;
  }
}
#header {
  position: sticky;
  top: 0;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.185);
  z-index: 99;
}
.container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}
.header {
  padding-block: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  nav {
    display: flex;
    align-items: center;
    gap: 25px;

    a {
      color: #fff;
      font-weight: 600;
      font-size: clamp(10, 0.784rem + 0.45vw, 16px);
    }
    .btn button {
      max-width: 130px;
      width: 100%;
      height: 45px;
    }
  }
  img {
    max-width: 70%;
  }
}
.burger {
  display: none;
  img {
    max-width: 1000px;
    width: 100%;
  }
}
#get {
  padding-block: 80px;
}
.get {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    max-width: 500px;
    width: 100%;
  }
  .ret-text {
    display: flex;
    flex-direction: column;
    gap: 50px;

    h4 {
      color: #fff;
      font-weight: 600;
      font-size: clamp(16px, 1.104rem + 3.85vw, 60px);
    }
    button {
      max-width: 224px;
      width: 100%;
      height: 60px;
    }
    .get-long {
      display: flex;
      gap: 90px;
      .long {
        color: #fff;
        h5 {
          font-size: clamp(0.875rem, 0.625rem + 1.25vw, 1.625rem);
          font-weight: 700;
        }
        h6 {
          font-size: clamp(0.625rem, 0.333rem + 1.46vw, 1.5rem);
          font-weight: 400;
        }
      }
    }
  }
}
#trend {
  padding-block: 70px;
}
.trend-title {
  line-height: 50px;
  padding-bottom: 40px;
}
.trend {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.trend .box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.trend .box {
  img {
    max-width: 400px;
    width: 100%;
  }
}
.trend .box p img {
  max-width: 40px;
  width: 100%;
}
.small {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  img {
    max-width: 10px;
    width: 90%;
    height: 90%;
  }
}
p {
  display: flex;
  align-items: center;
  gap: 10px;
}
#creator {
  padding-block: 90px;
}
.creator-title {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 50px;
  .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .creator-btn button {
    width: 247px;
    height: 50px;
    background: none;
    border: 2px solid#A259FF;
    ion-icon {
      color: #a259ff;
    }
  }
}
.creator {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}
.creator .box {
  width: 240px;
  height: 238px;
  background: #3b3b3b;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2b2b2b;
    position: relative;
    position: absolute;
    margin-bottom: 150px;
    margin-right: 160px;
  }
}
.knopka {
  display: none;
}
.box-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  img {
    width: 65%;
  }
}
.text {
  line-height: 30px;
  p span {
    color: #858584;
  }
}
#categorie {
  padding-block: 80px;
}
.categorie-title {
  padding-bottom: 50px;
}
.categorie {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  .box {
    background: #3b3b3b;
    max-width: 240px;
    width: 100%;
    border-radius: 30px;
    height: 300px;
    position: relative;
    .position-box {
      .icon-img {
        position: absolute;
        top: 70px;
        left: 60px;
        font-size: 120px;
        color: #fff;
      }
      img {
        max-width: 240px;
        width: 100%;
        filter: blur(3px);
      }

      img:hover {
        filter: none;
      }
    }
    .categorie-text {
      padding: 20px;
    }
  }
}
.position-box:hover {
  .icon-img {
    opacity: 0;
  }
}
#nft {
  padding: 100px 0;
}
.nft-title {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 50px;
  .text {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .nft-btn button {
    width: 247px;
    height: 50px;
    background: none;
    border: 2px solid#A259FF;
    ion-icon {
      color: #a259ff;
    }
  }
}
.nft {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  .box {
    background: #3b3b3b92;
    border-radius: 30px;
  }
  .nft-img {
    max-width: 800px;
    width: 100%;
  }
}
.nft-text {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.nft-img {
  display: flex;
  gap: 15px;
}
.litle {
  display: flex;
  justify-content: space-between;
  h1 {
    font-size: clamp(0.5rem, 0.417rem + 0.42vw, 0.75rem);
    font-weight: 400;
    color: #858584;
    span {
      color: #fff;
    }
  }
}
.nft-button {
  display: none;
}

#magic {
  padding: 100px 0;
  margin-top: -60px;
  width: 100%;
  height: 740px;
  background-image: linear-gradient(
      to top,
      rgba(162, 89, 255, 0.8),
      rgba(255, 255, 255, 0)
    ),
    url("https://s3-alpha-sig.figma.com/img/a6f4/3f93/50c73503d13e1fe1a0e3277804ef1192?Expires=1730678400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=fEGyrhYDT67bFAZlHAeQrJwgBmUH2kZTtOp6VnmHEhFry-um8UDpF1WNL90K7ROlJfW239KVbJA1cK22nKF0XYFPjiAn-PUfx~TY2wasqGkYgkF8pHsp70PyQvfb9DM3FW3rJ4afAguzoW1CFFH0wj4LJPkw2UjLkbigvqK42PuXwCxti~X0HBu8-JsJLn9gGpolhwbJXIpu4Zq1t6NLJH5g0EEedd5APFbp12QW-64MIBmssKyUQTlPX3nQB1w6FeyQ5Iz5xApCPLH2-zNeAGdNNBeEGYVrNiJ9rsgNqTSSQWe-yauKl4gGMPiH-uUTUz0~CIghR6TnIUqvjw8aUQ__");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.magic {
  position: relative;
  height: 740px;

  .magic-bottom {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    bottom: 50px;
    width: 100%;
    .magic-left {
      display: flex;
      top: 390px;
      flex-direction: column;
      gap: 40px;
      .magic-input {
        width: 154px;
        height: 61px;
        background: #3b3b3b;
        border-radius: 20px;
        gap: 10px;
        display: flex;
        justify-content: center;
        img {
          max-width: 25px;
          width: 100%;
        }
      }
      h1 {
        font-weight: 600;
        font-size: clamp(1.5rem, 0.958rem + 2.71vw, 3.125rem);
      }
      #foto {
        display: none;
      }
      .magic-button {
        button {
          width: 198px;
          height: 60px;
          background: #fff;
          color: #2b2b2b;
        }
      }
    }
    img {
      max-width: 330px;
      width: 100%;
    }
  }
}
#work {
  padding-block: 100px;
}
.work-title {
  padding-bottom: 60px;
  line-height: 50px;
}
.work {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  /* width: 100%; */
}
.work-box {
  max-width: 350px;
  width: 100%;
  height: 460px;
  background: #3b3b3b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  border-radius: 20px;
  padding-inline: 20px;
  img {
    max-width: 260px;
    width: 70%;
  }
  .work-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    text-align: center;
    /* max-width: 170px; */
  }
}
#join {
  padding-block: 100px;
}
.join {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 400px;
  padding: 10px 50px;
  border-radius: 20px;
  opacity: 0px;
  background: #3b3b3b;
  gap: 20px;
  img {
    max-width: 450px;
    width: 100%;
  }
  .join-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    h1 {
      width: 60%;
    }
    p {
      line-height: 25px;
    }
    .join-input {
      display: flex;
      align-items: center;
      input {
        padding-left: 12px;
        max-width: 261px;
        width: 100%;
        height: 60px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
      button {
        margin-left: -15px;
        max-width: 199px;
        width: 100%;
        height: 60px;
      }
    }
  }
}
#footer {
  padding-top: 60px;
  background: #3b3b3b;
}
.footer {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
ul li {
  color: grey;
}
ul li:first-child {
  font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
  font-weight: 700px;
  color: #fff;
}
.input {
  display: flex;
  input {
    padding-left: 12px;
    max-width: 241px;
    width: 100%;
    height: 60px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  button {
    margin-left: -15px;
    max-width: 179px;
    width: 100%;
    height: 60px;
  }
}
.footer-text {
  border-top: 2px solid #cccccc;
}
