* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  font-family: Work Sans;
  outline: 1px solid orangered;
}
html {
  background: #2b2b2b;
}
h1 {
  width: 100%;
  font-size: clamp(22px, 1.042rem + 1.67vw, 38px);
  color: #fff;
  font-weight: 600;
}
h2 {
  width: 100%;
  font-size: clamp(14px, 0.708rem + 0.83vw, 22px);
  color: #fff;
  font-weight: 600;
}
h3 {
  width: 70%;
  font-size: clamp(10px, 0.708rem + 0.83vw, 22px);
  color: #fff;
  font-weight: 400;
}
p {
  font-size: clamp(12px, 0.667rem + 0.42vw, 16px);
  color: #fff;
  font-weight: 400;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a259ff;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: clamp(0.75rem, 0.667rem + 0.42vw, 1rem);
  ion-icon {
    font-size: 20px;
    margin-right: 10px;
  }
}
#header {
  /* display: none; */
  position: sticky;
  top: 0;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.185);
  z-index: 99;
}
.container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}
/* #header .container {
  max-width: 1380px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
} */
.header {
  padding-block: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* margin: 0 auto; */
  nav {
    display: flex;
    align-items: center;
    gap: 25px;

    a {
      color: #fff;
      font-weight: 600;
      font-size: clamp(10, 0.784rem + 0.45vw, 16px);
    }
    .btn button {
      max-width: 130px;
      width: 100%;
      height: 45px;
    }
  }
  img {
    max-width: 70%;
  }
}
.burger {
  display: none;
  img {
    max-width: 1000px;
    width: 100%;
  }
}
#get {
  padding-block: 80px;
}
.get {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    max-width: 500px;
    width: 100%;
  }
  .ret-text {
    display: flex;
    flex-direction: column;
    gap: 50px;

    h4 {
      color: #fff;
      font-weight: 600;
      font-size: clamp(16px, 1.104rem + 3.85vw, 60px);
    }
    button {
      max-width: 224px;
      width: 100%;
      height: 60px;
    }
    .get-long {
      display: flex;
      gap: 90px;
      .long {
        color: #fff;
        h5 {
          font-size: clamp(0.875rem, 0.625rem + 1.25vw, 1.625rem);
          font-weight: 700;
        }
        h6 {
          font-size: clamp(0.625rem, 0.333rem + 1.46vw, 1.5rem);
          font-weight: 400;
        }
      }
    }
  }
}
#trend {
  padding-block: 70px;
}
.trend-title {
  line-height: 50px;
  padding-bottom: 40px;
}
.trend {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.trend .box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.trend .box {
  img {
    max-width: 400px;
    width: 100%;
  }
}
.trend .box p img {
  max-width: 40px;
  width: 100%;
}
.small {
  /* max-width: 549px;
  width: 582px; */
  /* width: 100px;
  height: 100px; */
}
.small {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  img {
    max-width: 10px;
    width: 90%;
    height: 90%;
  }
}
p {
  display: flex;
  align-items: center;
  gap: 10px;
}
#creator {
  padding-block: 90px;
}
.creator-title {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 50px;
  .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .creator-btn button {
    width: 247px;
    height: 50px;
    background: none;
    border: 2px solid#A259FF;
    ion-icon {
      color: #a259ff;
    }
  }
}
.creator {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}
.creator .box {
  width: 240px;
  height: 238px;
  background: #3b3b3b;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2b2b2b;
    position: relative;
    position: absolute;
    margin-bottom: 150px;
    margin-right: 160px;
  }
}
.knopka {
  display: none;
  width: 315px;
  height: 60px;
  background: none;
  border: 2px solid#A259FF;
  ion-icon {
    color: #a259ff;
  }
}
.box-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  img {
    width: 65%;
  }
}
.text {
  line-height: 30px;
  p span {
    color: #858584;
  }
}

.categorie-block {
  position: relative;
  width: 150px;
  height: 209px;
  background: #3b3b3b;
  border-radius: 20px;
  cursor: pointer;
  p {
    padding: 10px 0 0 15px;
  }
}
.categorie-block-img img {
  max-width: 1000px;
  width: 100%;
}
.categorie-blur {
  position: absolute;
  top: 0;
  width: 100%;
  height: 142px;
  background: rgba(255, 255, 255, 0.162);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  transition: 0.4s;
}
.categorie-blur:hover {
  opacity: 0;
}
#categorie {
  padding: 50px 0;
}
#nft {
  padding-block: 100px;
  height: 120vh;
}
.nft-title {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 50px;
  .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .nft-btn button {
    width: 247px;
    height: 50px;
    background: none;
    border: 2px solid#A259FF;
    ion-icon {
      color: #a259ff;
    }
  }
}
.nft {
  display: flex;
  justify-content: space-between;
  .box {
    display: flex;
    flex-direction: column;
    .wert {
      max-width: 700px;
      width: 100%;
    }
  }
  .box-block {
    width: 270px;
    height: 150px;
    background: #3b3b3b;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
/* .nft .box .wert {
  img {
    max-width: 100px;
    width: 100%;
  }
} */
.block-text {
  line-height: 40px;
}
.nft-img {
  display: flex;
  gap: 20px;
  p {
    font-family: Space Mono;
  }
}
.nft-text {
  display: flex;
  justify-content: space-between;
  .litle {
    line-height: 30px;
    h6 {
      color: #858584;
    }
  }
}
